<<<<<<< HEAD
/* Modules/IDOR/challenge1.css */
=======
/* Vulnerable web app/MOdules/IDOR/challenge.css */
>>>>>>> 6e89bfa353798e64ec0024d1c80998f1ac6d9520

body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    overflow: auto; /* Enable scrolling */
    background-size: 400% 400%;
    animation: backgroundAnimation 20s linear infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

<<<<<<< HEAD
.back-link {
    margin: 0 0 0.5rem;
    font-size: 0.9rem;
}

.back-link a {
    color: #0f0;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}

=======
>>>>>>> 6e89bfa353798e64ec0024d1c80998f1ac6d9520
.challenge-description {
    margin: 20px;
}

.login-container {
    margin: auto;
    max-width: 300px;
    margin-top: 50px;
}

h2 {
    color: #f00;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}

.error-messages {
    color: #f00;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #0f0;
    color: #000;
    cursor: pointer;
}

button:hover {
    background-color: #f00;
    color: #fff;
}

/* Customize styles as needed */