/* General styles */
body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    overflow: auto;
    background-size: 400% 400%;
    animation: backgroundAnimation 20s linear infinite;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

header h1 {
    margin-top: 20px;
    color: #f00;
}

.challenge-description {
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
}

.login-container {
    margin: auto;
    max-width: 300px;
    margin-top: 50px;
}

h2 {
    color: #f00;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Input field styles */
label {
    text-align: left;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}

/* Response box styles */
#response-box {
    margin-top: 10px; /* Space above the box */
    padding: 10px;
    background-color: #222;
    color: #f00;
    border-radius: 5px;
    display: none; /* Initially hidden */
}

/* Button styles */
button {
    padding: 10px;
    background-color: #0f0;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #f00;
    color: #fff;
}
